@media(min-width:1025px){
.country-page-container{
    background-color: #F7FFF7;
    margin: 0;
    padding-top: 5vh;   
}
.countrypage-img-country{
    height: 30vh;
}

.country-details{
    display: flex;
    width: 85vw;
    margin-left: 7.5vw;
    height: 35vh;
}
.article-country{
    width: 50vw;
}
#country-page-name{
    color: rgb(54, 54, 54) !important;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid lightslategray;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 700;
    margin-bottom: 1vh;
}

.country-page-capital{
    font-size: 1.1rem;
    color:rgb(54, 54, 54);
    padding-bottom: 1vh;
    margin-top: 1vh;
    margin-bottom: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    border-bottom: 1px solid lightslategray;
    font-weight: 300;
}

.country-page-list-languages{
    font-size: 1.1rem;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0;
    width: 40vw;
    color: rgb(54, 54, 54);
    display: flex;
    justify-content:flex-start ;
    position: relative;
    top: -1vh;
}
.country-page-list-languages ul {
    display: flex;
    position: relative;
    left: -3vw;
    
    
}
.country-page-list-languages li {
    margin-left: 3vw;
    list-style-type: none;
    color: rgb(54, 54, 54);
}




.random-card-img{
    width: 22vw;
    height: 30vh;
}

.random-links-cards {
    display: flex;
    justify-content: space-around;
    background-color:#F7FFF7;
    height: 50vh;
}

.card-img-rnd {
    text-align: center;
}

.card-img-rnd p{
    text-align: center;
    margin-bottom: 1vh;
}

.rnd-card-text-link {
    text-align: center;
}

.card-link{
    width: 10vw;
    border-radius: 2vh;
    color:rgb(54, 54, 54) ;
    padding: 6px;
    background-color: #FFE66D;
}

.card-link:hover{
    width: 10vw;
    border-radius: 2vh;
    color:rgb(54, 54, 54) ;
    padding: 6px;
    background-color: #f8c255d3;
}

.random-card-img:hover{
    width: 19vw;
    height: 26vh;
    border:4px solid #4ECDC4;
    border-radius: 2px;
}

.random-movie img{
    width: 12vw;
}

.random-movie img:hover{
    border:4px solid #4ECDC4;
    border-radius: 2px;
    width: 10vw;
}
}

/*-----------------------------------------------------*/

@media(max-width:1025px){
    .country-page-container{
        background-color: #F7FFF7;
        margin: 0;
        padding-top: 5vh;
        color: rgb(54, 54, 54) !important;

        
    }
    .country-details{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: rgb(54, 54, 54) !important;
        margin-right: 5vw;
        
    }
    .countrypage-img-country{
        text-align: center;
        height: 20vh;
        
    }
    .country-page-list-languages{
        font-size: 1.1rem;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 0;
        width: 20vw;
        color: rgb(54, 54, 54);
        display: flex;
        justify-content:flex-start ;
        position: relative;
        top: -1vh;
    }
    .country-page-list-languages ul {
        position: relative;
        left: -5vw;
        
        
    }
    .country-page-list-languages li {
        list-style-type:circle;
        color: rgb(54, 54, 54);
    }
    #country-page-name{
        color: rgb(54, 54, 54) !important;
        font-size: 2rem;
        text-align: center;
        margin-top: 0;
        border-bottom: 1px solid lightslategray;
        margin-left: 5vw;
        margin-right: 5vw;
        font-weight: 700;
        margin-bottom: 1vh;
    }
    .country-page-capital{
        font-size: 1.1rem;
        color:rgb(54, 54, 54);
        padding-bottom: 1vh;
        margin-top: 1vh;
        margin-bottom: 0;
        margin-left: 5vw;
        margin-right: 5vw;
        border-bottom: 1px solid lightslategray;
        font-weight: 300;
    }

    div .random-card-img{
        width: 60vw;
        height: 25vh;
    }
    .random-links-cards{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #F7FFF7;
    }
    .card-img-rnd {
        text-align: center;
    }
    
    .card-img-rnd p{
        text-align: center;
        margin-bottom: 1vh;
    }
    
    .rnd-card-text-link {
        text-align: center;
    }
    .card-link{
        width: 10vw;
        border-radius: 2vh;
        color:rgb(54, 54, 54) ;
        padding: 6px;
        background-color: #FFE66D;
        margin-bottom: 5vh;
    }
    .rnd-card{
        margin-bottom: 4vh;
    }
    .random-movie img{
        width: 40vw;
        height: 35vh;
    }
   

}