
.country-page-container{
    background-color: #F7FFF7;
    margin: 0;
    padding-top: 5vh;
    height: 47vh;
   
}
@media (min-width: 1025px){
.countrypage-img-country{
    height: 35vh;
}

.country-details{
    display: flex;
    width: 85vw;
    margin-left: 7.5vw;
}
.article-country{
    width: 50vw;
}
}


#country-page-name{
    color: rgb(54, 54, 54) !important;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid lightslategray;
    margin-left: 5vw;
    margin-right: 5vw;
    font-weight: 700;
}

.country-page-capital{
    margin-top: 1vh;
    color:rgb(54, 54, 54);
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 1vh;
    border-bottom: 1px solid lightslategray;
}

.country-page-list-languages{
    margin-top: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 40vw;
    color: rgb(54, 54, 54);
    display: flex;
}
.country-page-list-languages ul {
    display: flex;
}
.country-page-list-languages li {
    margin-left: 1vw;
}


@media (max-width: 1024px){
    .countrypage-img-country{
        height: 30vh;
    }
    .country-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        margin-left: 7.5vw;
    }
    .article-country{
        width: 80vw;
    }
}

.random-card-img{
    width: 22vw;
    height: 30vh;
}

.random-links-cards {
    display: flex;
    justify-content: space-around;
}

.card-img-rnd p{
    text-align: center;
    margin-bottom: 1vh;
}

.rnd-card-text-link {
    text-align: center;
}

.card-link{
    width: 10vw;
    border-radius: 2vh;
    color:rgb(54, 54, 54) ;
    padding: 6px;
    background-color: #FFE66D;
}

.card-link:hover{
    width: 10vw;
    border-radius: 2vh;
    color:rgb(54, 54, 54) ;
    padding: 6px;
    background-color: #f8c255d3;
}

.random-card-img:hover{
    width: 19vw;
    height: 26vh;
    border:4px solid #4ECDC4;
    border-radius: 2px;
}

.random-links-cards{
    background-color:#F7FFF7 ;
}
