#not-found-img {
    width: 22vw;
    height: auto;
}

.random-playlist {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.random-playlist iframe {
    height: 35vh;
    max-width: 25vw;
}

.random-playlist p {
    max-width: 25vw
}