@media(min-width:1025){
    .random-playlist {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .random-playlist p {
        max-width: 25vw
    }
}
@media(max-width:1025){
    .random-playlist {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
    }

    .random-playlist p {
        max-width: 90vw
    }

}

.random-playlist iframe {
    height: 40vh;
    max-width: 90vw;
}

.not-found-img {
    width: 25vw;
    height: auto;
}